body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background: #fefbdb;
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}
.wrap {
    margin: 0 auto;
    text-align: center;
}
header {
    margin: 0 auto;
    max-width: 980px;
    text-align: left;
    margin-top: 10px;
}
p {
    margin: 0;
}
section {
    display: block;
}
section h2 {
    text-align: left;
    margin: 0 auto;
    max-width: 980px;
}
#movieBox {
    display: flex;
    margin: 25px auto 30px;
    max-width: 980px;
}
#movieBox div {
    margin: 0 auto;
    padding: 1%;
}
#movieBox h3 {
    text-decoration: none;
    display: inline-block;
    color: #00662b;
    font-size: 24px;
    margin: 0;
}